@import "~/.config/rofi/theme.rasi"

window {
    height: 130px;
}

listview {
    lines: 1;
}

mainbox {
    children: [ "inputbar", "listview" ];
}

element-text {
    horizontal-align: 0.5;
}

configuration {
    show-icons: false;
}

element {
    children: [ "dummy", "element-text", "dummy" ];
}
